<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
 window.images = {
   splashRow1: "<%= asset_path("sports.png") %>"
 }
</script>


<div id="root"> React Broke </div>
