.dashboard-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.dashboard-container .event-user-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.author-photo{
    padding: .5em;
    line-height: 0;
    border: 1px solid #F7BF4D;
    margin-bottom: 1em;
    box-sizing: border-box;
/*     margin-right: 20px; */
}

.author-img-quote img{
    width: 100%;
    height: auto;
}

.author-img-quote{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;

}
.author-img-quote p {
    font-size: 0.8em;
    color: #333;
    font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
    line-height: 1.625;
}
 .user-info h3{
   color: #929292;
   margin-bottom: .75em;
   font-size: 1em;
    font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
    line-height: 1.25;
    font-weight: 600;
    display: block;
}

.author-img-quote a{
    background-color: transparent;
    border: 2px solid #Ef6236;
    color: #EF6236;
    text-transform: uppercase;
    font-size: .6em;
    border-radius: 3px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 1em;
    font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
    margin: 0 auto;
    font-weight: 600;
    width: 100%;
}
