.outside-dashboard{
 background-color: #f5ebd0 ;
}
.dashboard-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    width: 900px;
    font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;

}

.dashboard-container .event-user-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 280px;
    margin-bottom: 50px;
    grid-gap: 20px;
}

.dashboard-container h2{
     margin-bottom: 1em;
    margin-top: 1em;
    color: #EF6236;
    font-weight: 600;
    line-height: 1.25;
    font-size: 1.5em;
}

.dashboard-user h3{
  font-weight: 600;
  margin-bottom: 0.75em;
  font-size: 1em;
  line-height: 1.25;

}

.author-photo{
    padding: .5em;
    line-height: 0;
    border: 1px solid #F7BF4D;
    margin-bottom: 1em;
    box-sizing: border-box;
    background-color: white;
/*     margin-right: 20px; */
}

.author-img-quote img{
    width: 100%;
    height: 125px;
}

.author-img-quote{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;

}
.author-img-quote p {
    font-size: 0.8em;
    color: #333;
    line-height: 1.625;
}
 .user-info h3{
   color: #929292;
   margin-bottom: .75em;
   font-size: 1em;
    line-height: 1.25;
    font-weight: 600;
    display: block;
}

.author-img-quote a{
    background-color: transparent;
    border: 2px solid #Ef6236;
    color: #EF6236;
    text-transform: uppercase;
    font-size: .6em;
    border-radius: 3px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 1em;
    margin: 0 auto;
    font-weight: 600;
    width: 100%;
    box-sizing: border-box;
}

.event-user-info .event-info h5{
    color: #929292;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.25;
    margin: 0;
}

.event-user-info .event-info h4{
    line-height: 1.25;
    font-weight: 600;
    margin: 0;
    font-size: 1em;
    text-align: left;

}

.event-user-info .event-info .event-time h4{
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1.25;
}

.event-user-info .event-info a{
    color: #EF6236;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .6em;
}

.event-user-info .user-info h3{
    margin-top: 0;
}

.event-user-info .event-info .event-info-box{
    border: 1px solid #DDD;
    padding:10px;
}

.event-user-info .event-info{
    padding: 0;
    border: none;
    background-color: #f5ebd0 ;
}

.event-info .event-category h4{
    font-size: .9m;
    display: block;
}

.event-user-info .event-info hr{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}

.event-info-box {
   background-color: white;
}

.dashboard-user input[type="submit"]{
 margin-top: 20px;
 background-color: #EF6236;
 padding: 1em 1.5em;
 border-radius: 5px;
 width: 100%;
 text-align: center;
 color: white;
 letter-spacing: 2px;
 font-weight: 600;
 text-transform: uppercase;
 box-sizing: border-box;
 font-size: .8em;
 line-height: 1;
}

.dashboard-user {
    margin-right: 28px;
}

.event-info-box p{
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #929292;
}

.dashboard-event-list .event-info-box h3{
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 7px;
}

.dashboard-event-list .event-info-box img{
    margin-top: -3px;
}
