.banner{
 font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
 background: rgb(255, 206, 137);
 height: 250px;
 color: #FEFEFE;
 text-align: center;
 text-transform: uppercase;
  background-image: url("/assets/event-index-1ff9e7412d8f374f6edce7976fc400acfd2e4460e150556ca53015676deea47f.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px 250px;
}
.banner h1 {
  font-size:2.3em;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 12px;
}

.banner .banner-words{
  margin: 0 auto;
  width: 700px;
  padding: 75px;
}

.banner span{
  text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 18px;
}

.index-container{
  background: #fffaeb;
  padding-top: 20px;
}


.index-container{
  background: #fffaeb;
  padding-top: 20px;
}

.index-wrapper {
  display: grid;
/*   grid-template-columns: repeat(4, 200px); */
  /* grid-template-rows: 180px; */
  width: 900px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  grid-row-gap: 30px;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
}

.month-info{
  width: 900px;
  margin: 0 auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 10px;
}

.month-info .current-month{
  padding: .25em 1em .25em 0;
  text-align: left;
  color: #333;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
  line-height: 1.625;
  font-weight: 600;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-left: 10px;
}

.month-info .days-left{
    font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;

  color: #bfbfbf;
  border-color: #cccccc;
  border-radius: 10px;
  text-transform: uppercase;
  border: 1px solid;
  padding: .25em;
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
  margin-left: 100px;
  margin-right: 15px;
  width: 350px;


}

.city-container {
  text-align: center;
  background-color: #f1e9c6;
  width: 900px;
  margin: 0 auto;
}
.city-container h5{
  font-weight: 600;
  text-transform: uppercase;
  color: #eda20b;
  margin-top: 0;
  border-top: 1px solid #eda20b;
  padding-top: 15px;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
  font-size: 0.8em;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 0px;

}

.city{
  border: 2px solid #f5997d;
  margin-right: 15px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
  line-height: 1.25;
  font-weight: 600;
}

.city h3{
  font-size: 1.25em;
  text-align: center;
  color: #EF6236;
  margin-top: 40%;
}

.city-list{
  display: grid;
  grid-template-columns: repeat(5, 180px);
  margin: 0 auto;
  width: 900px;
  color: #eda20b;
  padding: 1em 1em 1em 1em;
  text-align: center;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 1.625;
}

.city-list a{
  margin: 0 auto;
  border: 1px solid #F7BF4D;
  background-color: #FaF6E8;
  color: #eda20b;
  padding: .25em;
  border-radius: 10px;
  font-size: 0.8em;
  margin-left: 33px;
  margin-right: 33px;
  box-sizing: border-box;

  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;

}

.city-list a:hover{
  color: white;
  background-color:#F7BF4D;
}

.city-list a.active{
  color:white;
  background-color:#F7BF4D;
}
