.header{
  background-color: #fdbb5e;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
}

div .header-nav{
  background-color:#fdbb5e;
  width: 80%;
  max-width: 900px;
  color: white;
  height: 20px;
  padding: 30px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 4fr;
  justify-content: space-between;
}
.header-nav .left{
  float: left;
}

.header-nav .left img{
  height: 50px;
  width: 200px;
  float:left;
  margin-top: -12px;
  margin-left: -15px;
  margin-right: 15px;
}

.header-nav p {
  position: absolute;
  margin-top: -17px;
  margin-left: 200px;
}

.header-nav .left p{
  text-transform: none;
  color: white;
  font-size: 16px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.header-nav .right{
  text-align: right;
}

.header-nav .signup-button{
  background-color: white;
  color: #fdbb5e;
  border-radius: 5px;
  /* border: 2px solid #fdbb5e; */
  padding: 8px;
}

.header-nav .signup-button:hover{
  background-color:#fdbb5e;
  color: white;
  /* border: 2px solid white; */
  border-radius: 5px;
  padding: 8px;
}

.header-nav a {
  padding: 10px;
  letter-spacing: 1px;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
}

.header-nav button {
  letter-spacing: 1px;
  font-size: 0.8em;
  font-weight: 500;
  margin-left: 5px;
}

p {
  font-size: 0.8em;
  font-weight: 500;

}
.empty-space{
  display: none;
}

 .header-nav .center{
  display: none;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 100%;
  margin: 0 auto;
}

@media all and (max-width: 955px) {
  .header-nav .right{
    display: none;
  }
  
  .empty-space{
    display: block;
  }

  .empty-space button{
    float: right;
  }

 .empty-space img{
   width: 60px;
   height: 40px;
   float: right;
   position: relative;
   margin-top: -10px;
 }

  .header-nav .center{
    background-repeat: no-repeat;
    background-size: 50px 50px;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
}

@media all and (min-width: 956px){
  .header-nav .center .hamburger-dropdown{
    display: none;
  }
}
