div .header-nav{
    background-color:#fdbb5e;
    width: 100%;
    color: white;
    height: 50px;
    padding: 15px;
}
.header-nav .left{
    float: left;
}

.header-nav .right{
    float: right;
}
